---
import DailyQuote from "./DailyQuote.astro";
---

<footer
    class="w-full px-12 py-12 flex flex-col justify-center items-center mt-auto border-t border-neutral-200 dark:border-neutral-800"
>
    <div class="w-full max-w-2xl">
        <DailyQuote />
    </div>
</footer>
